img{
  height: 80vh;
}
.frame{
  max-width: 60vw;
  overflow: hidden;
  position: relative;
  margin:0 auto;
}
.Project-Container{
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  padding: 10px;
}
.projectLink{
  text-decoration: none;
  margin:0 auto;
  padding:5px;
  border: 2px solid black;
  border-radius: 10%;
  color:black;
  background-color: rgba(124, 114, 101, 0.3);
}
.projectLink:hover{
  color:  white;
}